body {
	background: radial-gradient(#7E57C2,#512DA8);
	font-family: Roboto, Arial;
	color: #ffffff;
}

.containter {
	position: fixed;
	margin-right: -1px;
}	


.row {
	clear: both; /*This makes sure the rows are below each other*/
	height: 11%; /*The height of the row is 10%*/
}

.box {
	float: left; 
	position: relative;
	width: 5.55%; /*This splits the width of the page into 18 equal parts*/
	height: 100%; /*Height is 100% of the row*/
}

.atom {
	position: absolute;
	box-sizing: border-box; /*padding in the box will be internal*/
	bottom: 1px;
	right: 1px;
	background-color: rgba(63, 191, 63, 0.7);
	box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
	width: 90%;
	height: 90%;
}

.num { /*Places the mass and atomic number*/
	position: absolute;
	margin-left: 1px;
	margin-top: 1px;
	font-size: 1vw;
	color: #ffffff;
	opacity: 60%;
}

.mass {
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 0px;
	font-size: 1vw;
}

.sym {
	position: absolute;
	width: 100%;
	text-align: center;
	top: 22%;
	font-size: 2.5vw;
	font-weight: bold;
	color: #ffffff;
	opacity: 60%;	
}
