body {
	background: radial-gradient(#7E57C2,#512DA8);
	font-family: Roboto, Arial;
	color: #ffffff;
}

#infoDisplay {
	z-index: 10;
	background-color: rgba(140,141,171,0.5);
	height: 20.6%;
	width: 54.3%;
	position: absolute;
	top: 12.6%;
	left: 12.0%;
	overflow: auto;
}

#elementName {
	top: -5%;
	font-size: 1.5vw;
	text-decoration: underline;
	margin-bottom: 0px;
	margin-top: 0.5vw;
}

.elementProps{
	font-size: 1vw;
	display:inline block;
}

.containter {
	position: fixed;
	margin-right: -1px;
}	


.row {
	clear: both; /*This makes sure the rows are below each other*/
	height: 11%; /*The height of the row is 10%*/
}

.box {
	float: left; 
	position: relative;
	width: 5.55%; /*This splits the width of the page into 18 equal parts*/
	height: 100%; /*Height is 100% of the row*/
}

.atom {
	position: absolute;
	box-sizing: border-box; /*padding in the box will be internal*/
	bottom: 1px;
	right: 1px;
	background-color: rgba(166, 6, 86, 0.7);
	box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.5);
	width: 90%;
	height: 90%;
}

.num { /*Places the mass and atomic number*/
	position: absolute;
	margin-left: 1px;
	margin-top: 1px;
	font-size: 1vw;
	color: #ffffff;
	opacity: 60%;
	
}

.mass {
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 0px;
	font-size: 1vw;
}

.sym {
	position: absolute;
	width: 100%;
	text-align: center;
	top: 22%;
	font-size: 2.5vw;
	font-weight: bold;
	color: #ffffff;
	opacity: 60%;	
	vertical-align: middle;
}

.row:nth-child(8) {
	height: 1.5%;
}

/* color first column*/
.row:nth-child(1) .box:nth-child(1) .atom,
.row:nth-child(2) .box:nth-child(1) .atom,
.row:nth-child(3) .box:nth-child(1) .atom,
.row:nth-child(4) .box:nth-child(1) .atom,
.row:nth-child(5) .box:nth-child(1) .atom,
.row:nth-child(6) .box:nth-child(1) .atom,
.row:nth-child(7) .box:nth-child(1) .atom {
	background-color: rgba(244, 71, 158, 0.7);
}

/* color second column */
.row:nth-child(1) .box:nth-child(2) .atom,
.row:nth-child(2) .box:nth-child(2) .atom,
.row:nth-child(3) .box:nth-child(2) .atom,
.row:nth-child(4) .box:nth-child(2) .atom,
.row:nth-child(5) .box:nth-child(2) .atom,
.row:nth-child(6) .box:nth-child(2) .atom,
.row:nth-child(7) .box:nth-child(2) .atom {
	background-color: rgba(243, 16, 130, 0.7);
}

/* color nonmetals */
.row:nth-child(2) .box:nth-child(n+14) .atom,
.row:nth-child(3) .box:nth-child(n+15) .atom,
.row:nth-child(4) .box:nth-child(n+16) .atom,
.row:nth-child(5) .box:nth-child(n+17) .atom {
	background-color: rgba(243, 68, 243, 0.7);
}

/* transition metals colored by background color */

/* color the 'semimetals--this section is kind of ambiguous */
.box:nth-child(13) .atom,
.box:nth-child(14) .atom,
.box:nth-child(15) .atom,
.box:nth-child(16) .atom,
.box:nth-child(17) .atom {
	background-color: rgba(250, 121, 186, 0.7);
}

/* color the noble gasses */
.row:nth-child(1) .box:nth-child(18) .atom,
.row:nth-child(2) .box:nth-child(18) .atom,
.row:nth-child(3) .box:nth-child(18) .atom,
.row:nth-child(4) .box:nth-child(18) .atom,
.row:nth-child(5) .box:nth-child(18) .atom,
.row:nth-child(6) .box:nth-child(18) .atom {
	background-color: rgba(114, 9, 220, 0.7);
}

/* color the unidentified stuff, uut -> uuo */
.row:nth-child(7) .box:nth-child(n+13) .atom {
	background-color: rgba(163, 147, 163, 0.7);
}

/* color the lanthanoids/actanoids*/
.row:nth-child(9) .atom,
.row:nth-child(10) .atom {
	background-color: rgba(80, 31, 56, 0.7);
}